@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-text-color: #333;
    --background-color: #fff;
    --link-color: #333;
    --button-background: transparent;
    --button-border: 1px solid #333;
    --button-border-radius: 1rem;
    --button-padding: 1rem 2rem;
    --background-image: url("assets/planning_pics.jpg");
    --text-color: #fff;
    --input-background-color: #f6f6f6;
    --input-border-radius: 20px;
    --input-border: 1px solid grey;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

.home-main {
    position: relative;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--text-color);
    text-align: center;
    padding: 3.125% 0;

    & background-image {
        width: 100%;
        height: auto;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 0;
    box-sizing: border-box;

    & a {
        order: 1;
        text-decoration: none;
        color: var(--text-color);
    }

    & ul {
        order: 2;
        text-align: right;
        margin: 0;
        padding: 0;
        list-style: none;

        & li {
            display: inline;
            margin: 0 0.75rem;
            text-decoration: none;
            color: var(--text-color);
            font-weight: bold;
        }
    }

    & form {
        order: 3;
        display: flex;
        align-items: center;

        & i {
            margin-right: 2.5%;
        }

        & input[type="text"] {
            background-color: var(--input-background-color);
            border-radius: var(--input-border-radius);
            border: var(--input-border);
            color: var(--text-color);
            padding: 0.325rem;
            font-size: 1.25rem;
        }
    }
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: var(--text-color);
}

main {
    padding: 1.25rem;
    margin: 5% 15%;

    & h2 {
        font-family: var(--primary-font);
        font-size: 2rem;
        font-weight: 500;
        height: 1.2rem;
        width: 23rem;
    }

    & .p {
        font-family: var(--primary-font);
        color: #00000080;
        font-size: 1rem;
        font-weight: 400;
        height: 4.5rem;
        width: 43rem;
    }

    & .search {
        display: flex;

        & .formInput {
            border-radius: 1.25rem;
            padding: 0.325rem;
            font-size: 1rem;
            border: 1px solid grey;
            float: left;
            width: 25%;
            background: #f6f6f6;
        }

        & i {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

    & h3 {
        font-family: "Inter-SemiBold", Helvetica;
        font-size: 1.25rem;
        letter-spacing: 0;
        margin-top: 3.1rem;
    }

    & .Sort {
        background-color: #0000000d;
        border: 1px solid;
        border-color: #0000001a;
        border-radius: 2.1rem;
        display: inline-flex;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        justify-content: space-between;
        margin-right: 0.625rem;
    }

    & div {
        display: inline;
    }

    & section {
        & h4 {
            font-family: "Inter-SemiBold", Helvetica;
            font-size: 2rem;
            height: 3.1re, ;
            width: 7.25rem;
        }

        & .budget {
            color: #000000;
            font-family: "Inter-Medium", Helvetica;
            font-size: 1.5rem;
            font-weight: 400;
        }

        & .Bud {
            color: #00000080;
        }
    }

    & h5 {
        font-family: "Inter-Medium", Helvetica;
        font-size: 1.75rem;
        font-weight: 500;
        height: 0.625rem;
    }

    & .recommendations {
        display: inline-block;
        margin-right: 0.625rem;
    }

    & h6 {
        color: #000000;
        font-family: "Inter-Medium", Helvetica;
        font-size: 1rem;
        font-weight: 400;
    }

    & a {
        text-decoration: none;
    }
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

footer {
    color: var(--text-color);
    padding: 1.25rem;
    text-align: left;
    margin-left: 10%;

    & .footer-columns {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        & .column {
            flex: 1;
            padding: 0 1.25rem;

            & .links {
                list-style: none;
                padding: 0;

                & li {
                    margin-bottom: 0.625rem;

                    & a {
                        text-decoration: none;
                        color: var(--link-color);

                    }
                }

                & .social a {
                    margin-right: 0.3125rem;
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 48rem) {
    .home-main {
        padding: 3.125% 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav form {
        margin-top: 0.625rem;
    }

    .fa-search {
        display: block;
    }
}

@media (max-width: 30rem) {
    .home-main {
        padding: 1.875% 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    button {
        padding: 0.625rem 1.25rem;
    }

    .links .social a {
        margin-right: 0.3125rem;
    }
}